.inputField {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputField + .inputField {
  margin-top: 1rem;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px 0px lightgrey;
}

.input:focus {
  outline: none;
  border: 2px solid #2f6fff;
}

.input.invalidInput {
  border-color: red;
}

.invalidInputMessage {
  position: absolute;
  top: 100%;
  display: none;
  align-self: flex-start;
  font-size: 0.75rem;
  padding: 8px 20px;
  padding-left: 20px;
  background-color: #ffe1e1;
  margin-top: -8px;
}

.input:focus + .invalidInputMessage {
  display: block;
}
