* {
  font-family: "Roboto";
  box-sizing: border-box;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px 5px rgb(34, 60, 80, 20%);
  padding: 1.5rem;
}

.registration .title {
  text-align: center;
  margin: 0 0 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button {
  margin-top: auto;
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
  border: 1px solid lightgray;
  background-color: #0066ff;
  color: white;
}

.button.disabledButton {
  opacity: 0.6;
}
